@media (max-width: 425px) {
    header {
        justify-content: center;
        align-items:center ;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
    }
    header div {
        width: fit-content;
    }
    nav {
        display: none;
    }
    .logo {
        width: 40%;   
    }
    #sobrenos {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 80px;
    }
    .titulo {
        gap: 23px;
        margin-bottom: 80px;
    }
    h2 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 10px;
        padding: 11px;
    }
    .titulo span {
        border: 2px solid #7323D8;
        font-size: 7px;
        font-weight: 400;
        padding: 7px;
    }
    .cards {
        flex-direction: column;
        gap: 60px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
        gap: 42px;
        border: 2px solid #7323D8;
        padding: 0px;
        border-radius: 15px;
        padding-bottom: 30px;
    }
    .logo-card {
        width: 8%;
    }
    .foto-card {
        width: 25%;
    }
    .nome {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 4px;
    }
    .profissao {
        font-size: 7px;
        letter-spacing: 4px;

    }
    .descricao {
        font-size: 9px;
        letter-spacing: 3px;
        word-spacing: 3px;
    }
    .your-class{
        max-width:95%;
	    height: fit-content;
    }
    .your-class div {
        width: 385px;
        height:auto;
    }
    .item img {
        max-width:385px;
	    height:auto;
    }
    #portifolio {
        padding-left: 20px;
        padding-right: 20px;        margin-top: 80px;
    }
    footer {
        margin-top: 80px;
    }
    .footer-1 {
        margin-top: 80px;
        width: 385px;
        justify-content: center;
        align-items: center;
    }
    .chamada {
        margin-bottom: 70px;
        text-align: center;
    }
    h3 {
        color: #7323D8;
        font-size: 23px;
        font-weight: 600;
        letter-spacing: 7px;
    }
    .contatos {
        display: flex;
        gap: 50px;
    }
    .contato-titulo {
        border: 2px solid #7323D8;
        font-weight: 400;
        font-size: 10px;
        padding: 8px;

    }
    .icones {
        width: 18px;
    }
    .icone-contato {
        font-size: 10px;
    }
    #contatos-1-mod {
        align-items: end;
    }
}