@media (max-width: 1024px) {
    header {
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 80px;
    }
    nav {
        font-size: 90%;
        gap: 100px;
    }
    .logo {
        width: 50%;   
    }
    h2 {
        font-size: 35px;
        font-weight: 600;
        letter-spacing: 10px;
    }
    #sobrenos {
        padding-left: 80px;
        padding-right: 80px;
    }
    .titulo {
        gap: 40px;
        margin-bottom: 80px;
    }
    .titulo span {
        border: 3px solid #7323D8;
        font-size: 13px;
        font-weight: 500;
    }
    .cards {
        gap: 65px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        gap: 55px;
        border: 2px solid #7323D8;
        padding: 15px;
        border-radius: 15px;
        padding-bottom: 35px;
    }
    .logo-card {
        width: 10%;
    }
    .foto-card {
        width: 35%;
    }
    .nome {
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 6px;
    }
    .profissao {
        font-size: 13px;
    }
    .descricao {
        font-size: 13px;
    }
    #portifolio {
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 150px
    }
    .your-class{
        max-width:95%;
	    height: fit-content;
    }
    .your-class div {
        width: 864px;
        height:auto;
    }
    .item img {
        max-width:864px;
	    height:auto;
    }
    .footer-1 {
        
    }

    footer {
        margin-top: 150px;
    }
    .footer-1 {
        width: 864px;
    }
    .chamada {
        margin-bottom: 90px;
    }
    h3 {
        font-size: 39px;
    }
    .contato-titulo {
        border: 3px solid #7323D8;
        font-weight: 500;
        font-size: 20px;
    }
    .icones {
        width: 28px;
    }
    .icone-contato {
        font-size: 18px;
    }

}